/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout principal */
.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
}


/* Contenido principal */
.layout-main {
  flex: 1;               /* ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
}



/* Contenido */
.layout-content {
  padding: 30px;
  overflow-y: auto;
}



