/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout principal */
.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
  transition: all 0.3s ease;
}

/* Contenido principal */
.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  margin-left: 64px; /* Ancho del sidebar colapsado */
}

/* Cuando el sidebar está expandido */
.sidebar.open ~ .layout-main,
.sidebar.pinned ~ .layout-main {
  margin-left: 256px; /* Ancho del sidebar expandido */
}



/* Contenido */
.layout-content {
  padding: 30px;
  overflow-y: auto;
}




